# LINE OA
LINE_CHANNEL_ACCESS_TOKEN=your_channel_access_token_here
LINE_CHANNEL_SECRET=your_channel_secret_here

# Google Sheets Web App URL (ใส่ใน Railway Variables)
SHEETS_WEBAPP_URL=https://script.google.com/macros/s/AKfycbxlEf9TdN0qPD_L8z-O-IMaT8BPPNJhbuZRGx0ktUFtZkdBZicFIYLGWJfEeLSWBdlc/exec

# Flask
PORT=5000
